@charset "UTF-8";

@-webkit-keyframes spin {
  to {
    stroke-dashoffset: -264;
  }
}

@keyframes spin {
  to {
    stroke-dashoffset: -264;
  }
}

.spinner circle {
  fill: none;
  stroke: slategray;
  stroke-width: 16;
  stroke-linecap: round;
  stroke-dasharray: 0, 0, 70, 194;
  stroke-dashoffset: 0;
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}

/*
Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.).
But in AngularJS adding empty href attributes to link tags will cause unwanted route changes. This is why we need to
remove empty href attributes from directive templates and as a result styling is not applied correctly. The remedy is
simple, just add the following styling to your application:
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }