body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}

h3 {
	margin: 0 0 20px;
	text-align: center;
}

.grid {
	width:  500px;
	height: 250px;
}