<!DOCTYPE html>
<!-- Declares the root element that allows behavior to be modified through Angular custom HTML tags. -->
<html ng-app="ConferenceApp">
<head>
	<meta charset="UTF-8">

	<title>SWA Angular test</title>
	<script type="text/javascript" src="lib/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="lib/angularjs/angular-touch.min.js"></script>
	<script type="text/javascript" src="lib/angularjs/angular-animate.min.js"></script>
	<script type="text/javascript" src="lib/angularjs/angular-resource.min.js"></script>
	<script type="text/javascript" src="lib/angularjs/angular-route.min.js"></script>
	<script type="text/javascript" src="lib/ui-grid/ui-grid.min.js"></script>
	<script type="text/javascript" src="lib/date-format.js"></script>

	<script type="text/javascript" src="script/conference.js"></script>

	<link type="text/css" rel="styleSheet" href="lib/ui-grid/ui-grid.min.css" />

	<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body ng-controller="ConferenceCtrl">
<div>
	<h4>Conferences</h4>
	<button ng-click="getAllConferences()">Refresh</button>

	<label>Rows per page:</label>
	<a enabled="{{rowsPerPage!==5}}" ng-click="rowsPerPage=5">5</a>
	<a enabled="{{rowsPerPage!==10}}" ng-click="rowsPerPage=10">10</a>
	<a enabled="{{rowsPerPage!==20}}" ng-click="rowsPerPage=20">20</a>
	<a  ng-click="rowsPerPage=50">50</a>

	<div ui-grid="table" class="ui-grid" ui-grid-resize-columns></div>

	<label>Rows per page: {{rowsPerPage}}</label>
	<label>Query: {{queryParam}}</label>
	<label>Sort: {{sortParam}}</label>

	<div>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>From</th>
				<th>To</th>
				<th>Location</th>
				<th>ID</th>
				<th />
				<th />
			</tr>
			<tr>
				<td><input id="in.name" type="text" placeholder="Add conference name ..."
						   ng-model="data.currentConference.name" /></td>
				<td><input id="in.description" type="text" placeholder="Add description"
						   ng-model="data.currentConference.description" /></td>
				<td><input id="in.from" type="text" size="10" pattern="\d{4}\-\d{1,2}\-\d{1,2}" class="datepicker"
						   placeholder="Date from" ng-model="data.currentConference.from" /></td>
				<td><input id="in.to" type="text" size="10" pattern="\d{4}\-\d{1,2}\-\d{1,2}" class="datepicker"
						   placeholder="Date to" ng-model="data.currentConference.to" /></td>
				<td />
				<td><input id="in.id" type="text" disabled="disabled" ng-model="data.currentConference.id" /></td>
				<td>
					<button ng-click="saveConference()">add</button>
				</td>
				<td />
			</tr>
			<tr ng-repeat="conf in data.conferences" id="{{conf.id}}">
				<td>{{conf.name}}</td>
				<td>{{conf.description}}</td>
				<td>{{conf.from | date:'yyyy-MM-dd'}}</td>
				<td>{{conf.to | date:'yyyy-MM-dd'}}</td>
				<td>{{conf.location}}</td>
				<td>{{conf.id}}</td>
				<td>
					<button ng-click="editConference(conf.id)">edit</button>
				</td>
				<td>
					<button ng-click="removeConference(conf.id)">remove</button>
				</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>