<!DOCTYPE html>
<html ng-app="ConferenceApp">
<head>
	<meta charset="UTF-8">

	<title>SWA Angular test</title>
	<script type="text/javascript" src="lib/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="lib/angularjs/angular-touch.min.js"></script>
	<script type="text/javascript" src="lib/angularjs/angular-animate.min.js"></script>
	<script type="text/javascript" src="lib/angularjs/angular-resource.min.js"></script>
	<script type="text/javascript" src="lib/angularjs/angular-route.min.js"></script>

	<script type="text/javascript" src="lib/angular-ui/ui-bootstrap.js"></script>
	<script type="text/javascript" src="lib/angular-ui/ui-grid.js"></script>
	<script type="text/javascript" src="lib/angular-ui/ui-router.js"></script>
	<link type="text/css" rel="styleSheet" href="lib/angular-ui/ui-grid.css" />
	<link type="text/css" rel="styleSheet" href="lib/angular-ui/bootstrap.css" />

	<script type="text/javascript" src="lib/date-format.js"></script>
	<script type="text/javascript" src="lib/ui-directives.js"></script>
	<script type="text/javascript" src="script/conference.js"></script>
	<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body ng-controller="ConferenceCtrl" ng-element-ready="getTable().query()">

<h3 style="text-align: center;">Conferences</h3>

<button title="First page" ng-click="" ng-disabled="table.isQueryRunning()">&lt&lt</button>
<button title="Previous page" ng-click="" ng-disabled="table.isQueryRunning()">&lt</button>
<input  title="Current page" style="width: 5ex;" type="number" ng-model="table.pageParam" min="1" max="99" required ng-disabled="table.isQueryRunning()" />
<button title="Next page" ng-click="" ng-disabled="table.isQueryRunning()">&gt</button>
<button title="Last page" ng-click="" ng-disabled="table.isQueryRunning()">&gt&gt</button>
<input  title="Rows found" style="width: 3ex;" disabled ng-model="table.data.length"/>
<label> RPP:</label>
<input  title="Rows per page" style="width: 5ex;" type="number" ng-model="table.rowsPerPage" min="1" max="99" required ng-disabled="table.isQueryRunning()" />
<a href="" ng-click="table.rowsPerPage=5">5</a> <a href="" ng-click="table.rowsPerPage=10">10</a>
<a href="" ng-click="table.rowsPerPage=20">20</a> <a href="" ng-click="table.rowsPerPage=50">50</a>

<br>
<button ng-click="table.query()" ng-disabled="table.isQueryRunning()" focus>Search</button>
<svg class="spinner" viewBox="0 0 100 100" width="2ex" height="2ex">
	<circle cx="50" cy="50" r="40" />
</svg>
<label>Sort: {{table.getSortParam()}}</label> <label>Filter: {{table.getQueryParam()}} </label>

<div ui-grid="getTable()" class="ui-grid" ui-grid-resize-columns></div>

<!--
	<div>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>From</th>
				<th>To</th>
				<th>Location</th>
				<th>ID</th>
				<th />
				<th />
			</tr>
			<tr>
				<td><input id="in.name" type="text" placeholder="Add conference name ..."
						   ng-model="data.currentConference.name" /></td>
				<td><input id="in.description" type="text" placeholder="Add description"
						   ng-model="data.currentConference.description" /></td>
				<td><input id="in.from" type="text" size="10" pattern="\d{4}\-\d{1,2}\-\d{1,2}" class="datepicker"
						   placeholder="Date from" ng-model="data.currentConference.from" /></td>
				<td><input id="in.to" type="text" size="10" pattern="\d{4}\-\d{1,2}\-\d{1,2}" class="datepicker"
						   placeholder="Date to" ng-model="data.currentConference.to" /></td>
				<td />
				<td><input id="in.id" type="text" disabled="disabled" ng-model="data.currentConference.id" /></td>
				<td>
					<button ng-click="saveConference()">add</button>
				</td>
				<td />
			</tr>
			<tr ng-repeat="conf in data.conferences" id="{{conf.id}}">
				<td>{{conf.name}}</td>
				<td>{{conf.description}}</td>
				<td>{{conf.from | date:'yyyy-MM-dd'}}</td>
				<td>{{conf.to | date:'yyyy-MM-dd'}}</td>
				<td>{{conf.location}}</td>
				<td>{{conf.id}}</td>
				<td>
					<button ng-click="editConference(conf.id)">edit</button>
				</td>
				<td>
					<button ng-click="removeConference(conf.id)">remove</button>
				</td>
			</tr>
		</table>
	</div>
-->
</body>
</html>